@import '../../styles/settings.scss';

.root {
  @include flex(row, center, top);
  flex-wrap: wrap;
  padding: 120px 30px 60px 30px;
  gap: 10px;

  img {
    height: 550px;
    width: 450px;
    object-fit: cover;
  }

  .description {
    @include flex(column, space-between, left);
    width: 500px;
    padding: 10px 20px;

    h3 {
      margin-bottom: 5px;
    }

    p {
      margin: 5px 0;
    }

    span {
      font-size: $base-size - 3;
    }

    .errorMessage {
      color: $color-warning;
      font-weight: 700;
    }

    form {
      @include flex(column, center, left);
      gap: 10px;

      .formInputSmall {
        border: 1px solid $color-gray;
        width: 90px;
        outline: none;
      }

      .formInput {
        border: 1px solid $color-gray;
        outline: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .root {
    img {
      height: 400px;
      width: 320px;
      object-fit: cover;
    }

    .description {
      @include flex(column, space-between, left);
      width: 375px;
      padding: 10px 20px;
    }
  }
}
