@import '../../styles/settings.scss';

.root {
  padding: 60px 30px 30px 30px;
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 30px;

  a {
    text-decoration: none;
    color: $color-white;
    &:hover {
      opacity: 0.8;
    }
  }
}
