@import '../../styles/settings.scss';


.cartProduct {
  @include flex(row, center, center);
  margin-top: 20px;

  .imgContainer {
    flex: 1;
    height: 320px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .productDetails {
    flex: 1;
    padding-left: 30px;

    .smallDetails {
      font-size: $base-size - 3;
      color: $color-dark;
    }

    p {
      color: $color-dark-gray;
    }

    span {
      color: $color-dark;
    }

    .label {
      color: $color-dark-gray;
    }
  }
}
