@import '../../styles/settings.scss';

.root {
  @include flex (row, center, top);
  flex-wrap: wrap;
  padding: 30px;
  gap: 5px;

  a {
    text-decoration: none;
    color: $color-dark;
  }

  .carousel {
    img {
      width: 500px;
      height: 600px;
      object-fit: cover;
    }
  }
  .text {
    padding: 10px 30px;
    h2 {
      padding: 0;
    }
    width: 400px;
  }
}

.gallery {
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .root {
    .carousel {
      img {
        width: 320px;
        height: 420px;
      }
    }
    .text {
      width: 350px;
    }
  }
}

