@import '../../styles/settings.scss';

h2 {
  padding: 120px 30px;
}

.cartEmpty {
  height: 200px;
  text-align: center;

  p {
    font-size: $base-size * 2;
    color: $color-warning;
  }
}

.root {
  @include flex(row, center, flex-start);
  margin: 40px 0 100px 0;

  .cartDetailsCol {
    flex: 1;
    @include flex(column, center, left);
  }

  .cartSummaryCol {
    @include flex(column, center, center);
    flex: 1;
    p {
      color: $color-dark-gray;
    }

    .summaryDetails {
      @include flex(column, center, left);

      h3 {
        margin-bottom: 30px;
      }

      p {
        padding: 5px 0;
      }

      span {
        color: $color-dark;
      }

      .summaryLine {
        font-weight: 700;
        margin-bottom: 40px;
      }
    }
  }
}
