@import '../../styles/settings.scss';

.root {
  padding: 120px 30px 60px 30px;

  .cartEmpty {
    height: 200px;
    text-align: center;

    p {
      font-size: $base-size * 2;
      color: $color-warning;
    }
  }

  .cartContainer {
    margin-top: 40px;
    padding: 30px 0;
    border-top: 1px $color-gray solid;
    border-bottom: 1px $color-gray solid;
    @include flex(row, space-around, flex-start);
    flex-wrap: wrap;
    gap: 30px;

    .cartDetailsCol {
      @include flex(column, center, left);
      width: 500px;
    }

    .cartSummaryCol {
      width: 375px;

      p {
        color: $color-dark-gray;
      }

      .summaryDetails {
        @include flex(column, center, center);

        h3 {
          margin-bottom: 30px;
        }

        p {
          margin: 15px;
        }

        span {
          color: $color-dark;
        }

        .summaryLine {
          font-weight: 700;
          margin-bottom: 40px;
        }
      }
    }
  }
}
