@import '../../styles/settings.scss';

.root {
  padding: 120px 30px 40px 30px;

  h2 {
    padding: 30px;
  }

  .imgContainer {
    position: relative;
    padding-bottom: 20px;

    img {
      object-fit: cover;
      width: 100%;
      height: 300px;
      position: relative;
    }

    .categoryName {
      position: absolute;
      bottom: 10%;
      right: 10%;
      font-size: $base-size * 2;
      color: $color-dark;
    }
  }

  .productContainer {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 576px){
  .root {
    .imgContainer {
      img {
        height: 150px;
      }
    }
  }
}
