@import '../../styles/settings.scss';

.root {
  position: fixed;
  min-height: 60px;
  width: 100%;
  background: $color-white;
  opacity: 0.7;
  transition: $transition;
}


.root:hover {
  opacity: 0.9;
  transition: $transition;
}


