$color-light: #F5F5F5;
$color-dark: #2F3037;
$color-gray: #a9aeb8;
$color-success: #26de81;
$color-warning: #e1644e;

$font-text: 'Crimson Pro', serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
